<div *ngIf="post$ | async as post; else loading">
    <div class="post">
        <div class="header">
            <h1>{{post.title}}</h1>
            <button routerLink="/" class="btn btn-link">Go home</button>
        </div>

        <div class="info">
            <strong>{{post.author}}</strong>
            <small>{{post.date | date:'medium':undefined:'pl'}}</small>
        </div>

        <div>
            <p>{{post.text}}</p>
        </div>
    </div>
</div>
<ng-template #loading>
    <p class="text-center">Loading...</p>
</ng-template>
