<form class="card" [formGroup]="form" (ngSubmit)="submit()">
    <h2>Log in admin's panel</h2>
    <div class="alert alert-info" *ngIf="message">{{message}}</div>
    <div class="alert alert-danger" *ngIf="auth.error$ | async as error">
        {{error}}
    </div>
    <div 
    class="form-control"
    [ngClass]="{invalid: form.get('email')?.touched && form.get('email')?.invalid}"
    >
        <label for="email">Email:</label>
        <input id="email" type="email" formControlName="email">
        <div *ngIf="form.get('email')?.touched && form.get('email')?.invalid" class="validation">
            <small *ngIf="form.get('email')?.errors?.['required']">Email is required!</small>
            <small *ngIf="form.get('email')?.errors?.['email']">Write correct email</small>
        </div>
    </div>
    <div 
    class="form-control"
    [ngClass]="{invalid: form.get('password')?.touched && form.get('password')?.invalid}"
    >
        <label for="password">Password:</label>
        <input id="password" type="password" formControlName="password">
        <div *ngIf="form.get('password')?.touched && form.get('password')?.invalid" class="validation">
            <small *ngIf="form.get('password')?.errors?.['required']">Password is required!</small>
            <small *ngIf="form.get('password')?.errors?.['minlength']">
                Password should be at least {{form.get('password')?.errors?.['minlength']?.['requiredLength']}} symbols! 
                Now its {{form.get('password')?.errors?.['minlength']?.['actualLength']}}
            </small>
        </div>
    </div>
    <button 
    [disabled]="form.invalid || submitted"
    class="btn btn-primary"
    >Log in</button>
</form>
